.Card-Chatbot-user {
  width: 50%;
  height: 70px;
  border-radius: 20px;
  background-color: #c83967;
  min-width: 100px;
  &-text {
    color: #fff;
    padding: 5px;
  }
}

.Card-Chatbot {
  width: 50%;
  height: 70px;
  border-radius: 20px;
  background-color: #370460;
  min-width: 100px;
  padding: 5px;
  &-text {
    color: #fff;
    padding: 5px;
  }
}
