.Navbar {
  display: flex;
  z-index: 20;
  justify-content: space-between;
  min-height: 60px;
  align-items: center;
  padding: 0 calc(10% + 1rem);
  position: relative;
  background: #310e57;
  border-bottom: 1px solid #310e57;
  box-shadow: 1px 1px 1px 0 #370460;
  flex: 0 60px;
  width: 100%;
  font-weight: bold;
  letter-spacing: 0.025em;
  height: 70px;
  &-logo {
    margin: 0;
  }

  &-link {
    cursor: pointer;
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
  }

  ul {
    font-size: 1rem;
    overflow: hidden;
    list-style: none;
    margin: 0;
    top: 0;
    padding: 2rem;
    display: flex;
    width: 100%;
    list-style: none;
    position: initial;
    height: initial;
    width: initial;
    display: flex;
    text-align: center;
    width: 100%;

    & li:hover {
      opacity: 0.75;
      transform: scale(1.2);
    }
  }

  .navbar-dropDown-true {
    z-index: 20;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #ccc;
    min-width: 200px;
    box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px,
      rgba(0, 0, 0, 0.11765) 0px 1px 4px;
    height: 200px;
    margin-top: 10px;
  }
  a {
    text-decoration: none;
  }
  li {
    width: 80px;
    color: #fff;
  }
  .Navbar-logo {
    font-size: 1rem;
    transition: transform 0.2s;
  }
  .Navbar-logo:hover {
    transform: scale(1.2);
  }

  .picture-icon {
    background: #fff;
    border-radius: 60px;
    height: 50px;
    border: 1px solid #fff;
    width: 50px;
    object-fit: cover;
  }
}
